<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GeoBagging</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%if (baseUrl != undefined) { %>
            <script type="text/javascript">
                window.geoBaggingBaseUrl = '<%= baseUrl %>'
            </script>
        <% } %>
        <script type="text/javascript">
            <%- include('../../node_modules/@tstibbs/cloud-core-ui/templates/feature-detect.js.ejs', {writeFeatureErrorsToDom: true}) %>
        </script>
        <script type="text/javascript">
            <%- include('../../node_modules/@tstibbs/cloud-core-ui/templates/error-handler.js.ejs') %>
        </script>
        <!-- stylesheets -->
        <style>
            <%- include('../../node_modules/@tstibbs/cloud-core-ui/templates/error-display.css.ejs') %>
        </style>
    </head>
    <body>
        <%- include('../../node_modules/@tstibbs/cloud-core-ui/templates/error-display.html.ejs') %>
        <div id="loading-message-pane" class="full-screen">
            <div class="loading-message-container">
                <div class="loading-message-text">
                    <p>Loading...</p>
                </div>
            </div>
        </div>        
        <!--scripts-->
    </body>
</html>
